:root {
  --font-family: Montserrat, Inter, Avenir, Helvetica, Arial, sans-serif;
  --main-color: #213547;
  --background-color: #ffffff;
}
body {
  font-family: var(--font-family);
  color: var(--main-color);
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  padding-top: 1px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 30px;
  box-sizing: border-box;
  img {
    height: 70px;
  }

  nav {
    ul {
      display: flex;
      list-style: none;
      gap: 40px;

      li {
        a {
          color: black;
          text-decoration: none;

          font-family: var(--font-family);
          font-size: 24px;
          font-weight: 500;
          padding: 0px 10px;
          &:hover {
            text-decoration: underline;
          }
          &.active {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: black;
  color: white;
  height: 200px;
  width: 100%;

  img.footer-logo {
    width: 120px; // Taille du logo
    height: auto; // Conserve les proportions de l'image
    margin-bottom: 10px;
  }
  .footer-text {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
  }
}
.banniere {
  width: 100%;
  height: 230px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
  border-radius: 20px;
  color: white;
  position: relative; /* Positionner le pseudo-élément par rapport à l'élément principal */
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.5);

  /* Pseudo-élément pour l'overlay sombre */
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Couleur d'overlay sombre */
    border-radius: 20px;
    z-index: 0;
  }
}
.banniere-title {
  position: relative;
  z-index: 1;
  font-size: 66px;
  font-family: var(--font-family);
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 80px;
  gap: 60px;
}
.rent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  gap: 80px;
  box-sizing: border-box;
  padding: 109px;
  background-color: rgba(246, 246, 246, 1);
  border-radius: 25px;
}
.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.card img {
  width: 100%;
  height: 470px;
  object-fit: cover;
}

.card:hover {
  cursor: pointer;
}
.link {
  text-decoration: none !important;
}
.card-title {
  margin-left: 20px;
  font-size: 18px;
  font-weight: bold;
  color: black;
}

.slideshow {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.slideshow-image {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  display: block;
  margin: 10px;
  margin-top: 40px;
  border-radius: 25px;
  height: fit-content;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.slide-number {
  position: absolute;
  bottom: 10px;
  right: 50%;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 5px;
}
.details-title {
  color: rgba(255, 96, 96, 1);
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 500;
  line-height: 51.34px;
  text-align: left;
  margin: 0;
}
.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px;
}

.details-tags {
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
  margin-bottom: 10px;
}
.tag {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: rgba(255, 96, 96, 1);
  border-radius: 16px;
  padding: 10px;
  color: white;
  font-weight: 500;
}
.details-header {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.hote-container {
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.hote {
  display: flex;
  flex-direction: row;

  & p {
    color: rgba(255, 96, 96, 1);
    font-family: Montserrat;
    font-size: 18px;
  }
}
.host-avatar {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  margin-left: 10px; /* Ajoute un espace entre le nom et l'avatar */
}
.rating {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}
.details-location {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  text-align: left;
  margin-top: 0;
}

.about-container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  padding: 44px 44px 0;
}
.about-collapse {
  margin: 20px;
  padding-top: 30px;

  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.collapse {
  margin-bottom: 27px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  width: 50%;

  .rotate {
    // On applique .open à .collapse lorsqu'il est ouvert

    transform: rotate(180deg); // Rotation de la flèche lorsque ouvert
  }

  .collapse-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 96, 96, 1);
    color: rgb(255, 255, 255);
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    border: none;
    width: 100%;
    text-align: left;
    height: 51px;
    border-radius: 5px;

    &:focus {
      outline: none; // Retirer le focus
    }
  }

  .collapse-icon {
    width: 16px;
    height: 16px;
    transition: transform 0.3s ease; // Transition pour la rotation de la flèche
    padding: 20px;
  }
}

.collapse-container {
  display: flex;
  justify-content: space-between; /* Espacement entre les éléments */
  gap: 20px; /* Optionnel, pour ajouter un espace entre les collapses */
  margin-top: 20px;
}
.collapse-details-appart {
  width: 50%;
}
.container {
  margin: 0 37px;
  box-sizing: border-box; /* Inclut les bordures et le padding dans la largeur totale */
}
.page-404 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fff;
  text-align: center;
}
.error-code {
  font-family: Montserrat, sans-serif;
  font-size: 258px;
  font-weight: 700;
  color: rgba(255, 96, 96, 1);
  position: relative;
  bottom: 40px;
  margin: 0;
}
.error-message {
  font-family: Montserrat, sans-serif;
  font-size: 36px;
  font-weight: 500;
  color: rgba(255, 96, 96, 1);
}

.back-to-home {
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  font-weight: 500;
  text-align: left;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1023px) {
  .banniere {
    height: 237px;
    width: 100%;
    &::after {
      height: 237px;
    }
  }
  .banniere-title {
    font-size: 40px; /* Réduction de la taille du texte pour mobile */
    padding-left: 20px;
  }
  .home-container {
    margin: 20px;
  }
  .rent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center; /* Centre les éléments dans leurs colonnes */
    align-items: center;
    padding: 20px;
    gap: 70px;
  }
  .card {
    height: auto;
    width: 100%;

    img {
      height: 200px;
      object-fit: cover;
    }
  }
  .card-title {
    font-size: 15px;
    margin-left: 10px;
    font-weight: 600;
  }
  .collapse {
    width: 100%;
  }
}
/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  header {
    padding-right: 10px;
    margin: 0;
  }
  header img {
    height: auto;
    width: 35%;
  }
  header nav ul {
    gap: 20px;
    padding: 0;
  }
  header nav ul li a {
    font-size: 17px !important;
    margin: 0;
    font-weight: 600;
  }

  .home-container {
    margin: 20px;
    gap: 30px;
  }
  .banniere {
    height: 150px;
    &::after {
      height: 150px;
    }
  }
  .banniere-title {
    font-size: 30px; /* Réduction de la taille du texte pour mobile */
    padding-left: 20px;
  }
  .rent {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    padding: 0;
    background-color: white;
  }
  .card-title {
    font-size: 18px;
    margin-left: 10px;
  }
  .card {
    width: 100%;
    max-height: 300px;
    overflow: hidden;
  }

  .about-container {
    padding: 0;
    margin: 12px;
    margin-bottom: 0;
  }

  .collapse-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  .collapse {
    width: 100%;
    .collapse-header {
      font-size: 20px;
      border-radius: 5px;
    }
    .collapse-icon {
      width: 20px;
      height: auto;
    }
  }
  .container {
    width: 100%;
    margin: 0;
  }

  .slideshow {
    position: relative;
    .slideshow-image {
      height: 500px;
      margin: 0;
      padding: 20px;
      box-sizing: border-box;
      border-radius: 35px;
    }
    .next {
      height: 48px;
      position: absolute;
      right: 29px;
      width: 48px;
    }
    .prev {
      height: 48px;
      position: absolute;
      left: 29px;
      width: 48px;
    }
    .next img,
    .prev img {
      width: 27px;
      position: absolute;
      right: 10px;
      top: 1px;
    }
    .slide-number {
      display: none;
    }
  }
  .header-container {
    display: flex;
    flex-direction: column;
  }
  .details-title {
    font-size: 27px;
  }
  .details-location {
    font-size: 20px;
  }
  span.tag {
    height: 20px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 8px;
    padding: 5px 15px 5px 15px;
  }
  .hote-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 30px;
  }
  .hote {
    display: flex;
    flex-direction: row;

    & p {
      font-size: 19px;
      font-weight: 500;
    }
    .host-avatar {
      height: 42px;
      width: auto;
    }
  }
  .rating {
    height: 20px;
    margin: 10px;
  }
  .collapse-content {
    font-size: 15px;
  }

  .page-404 {
    .error-code {
      font-size: 150px;
    }
    .error-message {
      margin: 30px;
    }
    .back-to-home {
      color: black;
      text-decoration: underline;
    }
  }
  footer {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 300px;

    img.footer-logo {
      width: 180px; /* Réduction de la taille du logo en mobile */
      height: auto;
    }

    .footer-text {
      font-size: 18px; /* Réduction de la taille du texte en mobile */
      text-align: center;
    }
  }
}
